fastapi
uvicorn[standard]
python-multipart

numpy<2
torch
torchaudio

torongoxetu
omegaconf
hydra-core
wrapt
pytorch-lightning

python-dateutil
ruamel.yaml
tensorboard
text-unidecode
wget
onnx

huggingface_hub==0.23.2
transformers==4.41.2
tokenizers==0.19.1

librosa
soundfile
numba
scipy
sentencepiece
pandas
inflect
lhotse
editdistance
jiwer
sacremoses
unidecode
pyannote.core
pyannote.metrics
webdataset
datasets
ipython
matplotlib
seaborn
scikit-learn